[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/cpr"]
	path = thirdparty/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "thirdparty/lua"]
	path = thirdparty/lua
	url = https://github.com/lua/lua.git
[submodule "thirdparty/sol2"]
	path = thirdparty/sol2
	url = https://github.com/ThePhD/sol2.git
